<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client) {
      <div>
        <h2 data-cy="clientDetailsHeading"><span jhiTranslate="dddApp.client.detail.title">Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="dddApp.client.id">Id</span></dt>
          <dd>
            <span>{{ client.id }}</span>
          </dd>
          <dt><span jhiTranslate="dddApp.client.name">Name</span></dt>
          <dd>
            <span>{{ client.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
