@if (user1) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(user1.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="user1DeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

      <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p id="jhi-delete-user1-heading" jhiTranslate="dddApp.user1.delete.question" [translateValues]="{ id: user1.id }">
        Are you sure you want to delete User 1 {{ user1.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-user1" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
