<div>
  <h2 id="page-heading" data-cy="User1Heading">
    <span jhiTranslate="dddApp.user1.home.title">User 1 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dddApp.user1.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-1"
        [routerLink]="['/user-1/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dddApp.user1.home.createLabel">Create a new User 1</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (user1s?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="dddApp.user1.home.notFound">No User 1 S found</span>
    </div>
  }

  @if (user1s && user1s.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="dddApp.user1.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nume">
              <div class="d-flex">
                <span jhiTranslate="dddApp.user1.nume">Nume</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenume">
              <div class="d-flex">
                <span jhiTranslate="dddApp.user1.prenume">Prenume</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cnp">
              <div class="d-flex">
                <span jhiTranslate="dddApp.user1.cnp">Cnp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userType.id">
              <div class="d-flex">
                <span jhiTranslate="dddApp.user1.userType">User Type</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="company.id">
              <div class="d-flex">
                <span jhiTranslate="dddApp.user1.company">Company</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody
          infinite-scroll
          (scrolled)="loadPage(page + 1)"
          [infiniteScrollDisabled]="page - 1 >= links['last']"
          [infiniteScrollDistance]="0"
        >
          @for (user1 of user1s; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/user-1', user1.id, 'view']">{{ user1.id }}</a>
              </td>
              <td>{{ user1.nume }}</td>
              <td>{{ user1.prenume }}</td>
              <td>{{ user1.cnp }}</td>
              <td>
                @if (user1.userType) {
                  <div>
                    <a [routerLink]="['/user-type', user1.userType.id, 'view']">{{ user1.userType.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (user1.company) {
                  <div>
                    <a [routerLink]="['/company', user1.company.id, 'view']">{{ user1.company.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/user-1', user1.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/user-1', user1.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(user1)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
