<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (userType) {
      <div>
        <h2 data-cy="userTypeDetailsHeading"><span jhiTranslate="dddApp.userType.detail.title">User Type</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="dddApp.userType.id">Id</span></dt>
          <dd>
            <span>{{ userType.id }}</span>
          </dd>
          <dt><span jhiTranslate="dddApp.userType.type">Type</span></dt>
          <dd>
            <span>{{ userType.type }}</span>
          </dd>
          <dt><span jhiTranslate="dddApp.userType.user1">User 1</span></dt>
          <dd>
            @if (userType.user1) {
              <div>
                <a [routerLink]="['/user-1', userType.user1.id, 'view']">{{ userType.user1.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/user-type', userType.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
