<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (company) {
      <div>
        <h2 data-cy="companyDetailsHeading"><span jhiTranslate="dddApp.company.detail.title">Company</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="dddApp.company.id">Id</span></dt>
          <dd>
            <span>{{ company.id }}</span>
          </dd>
          <dt><span jhiTranslate="dddApp.company.name">Name</span></dt>
          <dd>
            <span>{{ company.name }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
